@import 'tailwindcss';

/* default theme */
@theme {
  --color-mint-500: red;
  --color-primary: yellow;
}
.theme-mamashelter {
  --color-primary: #123456;
  --color-mint-500: white;
}

.theme-hoxton {
  --color-primary: #654321;
  --color-mint-500: #ff00cc;
}

.theme-25hours {
  --color-primary: #00ffcc;
  --color-mint-500: purple;
}
